# ambiente virtual
venv/

# Cache do Python
__pycache__/
.pytest_cache/
*.py[cod]

# Variaveis de ambiente e segredos
.env
.env.*
!.env.example

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.dbO
